html{
    overflow-x: hidden;
    background-color: lightgrey;
}

body{
    margin: 0px;
}

.test{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 0px;
    padding: 0px;
    margin: 0px;
    left: 0px;
    width: 100%;
    background-color: #033d15;
}

/* Top Seciton */

#pic {
    display: block;
    padding: 0px;
    margin: 0px;
    z-index: -1;
    margin-left: -10px;
    margin-top: -10px;
    max-width: 100%;
} 

.top ul{
    list-style: none;
    background-color: none;
}
.top {
    max-width: 100%;
}

/* About Me */
.family_man{
    grid-area: family;
    background-color: #152d0f;
}
.programmer{
    grid-area: prog;
    background-color: #2f422e;
}
.LL_student{
    grid-area: stud;
    background-color: #3e6636;
}
#me{
    grid-area: me;
}
.about_me{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px;
    grid-template-areas:"family prog stud";
}

.about_me h2{
    text-align: center;
    font-size: 30px;
    color: white;
}

.about_me p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 22px;
    color: white;
}

.color{
    background-color: grey;
}

th, tr, table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

th{
    font-size: 30px;
}

td{
    font-size: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
#mid{
    text-align: center;
}
#bottom{
    border-bottom: 0px solid black;
}
.project h2{
    text-align: center;
    font-size: 35px;
}


/* Contact Information  */

.contact_info{
    text-align: center;
    background-color: silver;
    color: white;
}
.contact_info h2{
    margin-bottom: 0px;
    font-size: 40px;
    margin-top: 0px;
}

.contact_info p{
    margin-top: 1px;
    font-size: 12px;
    font-style: italic;
    
}

.contact_info img{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#logo{
    width: 50px;
}

/*  Future Plans */

.future{
    background-color: gray;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.future p {
    margin-bottom: 0px;
    margin-right: 25%;
    margin-left: 25%;
    line-height: 200%;
    font-size: 20px;
}

.future h2{
    margin-top: 0px;
    margin-left: 25%;
    font-size: 40px;
    margin-bottom: 15px;
}
#email{
    font-size: 100%;
}

@media only screen and (max-width: 990px){
    .about_me p{
        font-size: 18px;
    }
}

@media only screen and (max-width: 860px){
    
}

@media only screen and (max-width: 760px){
    .about_me h2{
        font-size: 24px;
    }
}




